.btn {
  width: 150px;
  height: 40px;
  border-radius: 15px;
  transform: skewX(-20deg);
  font-size: 20px;
  background-color: blue;
  color: #fff;
  font-weight: 400;
  outline: none;
  border: none;
}

.btn.isSubmitting {
  opacity: 0.5;
}
.btn:hover {
  cursor: pointer;
  opacity: 0.8;
}
